<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta http-equiv="X-UA-Compatible" content="IE=edge">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Document</title>
</head>
<body>
    <%= name %>
    <iframe style="width: 100%; height: 95%; position: absolute; left: 0%; right: 0%; top: 5%;" src="http://localhost:1234" frameborder="0"></iframe>
    <button onclick="ovc()">Open VSCode</button>
    <script>
    function ovc() {
        fetch(location.origin + "/api/action/ovsc")
    }
    </script>
</body>
</html>